asgiref==3.7.2
autopep8==2.0.1
Django==4.2.7
flake8==7.0.0
flake8-html==0.4.3
mypy==1.2.0
mypy-extensions==1.0.0
Pillow==10.1.0
pycodestyle==2.10.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3