<div class="home">
    <span>LITRevu</span>
</div>
<div class="top-navigation">
    <a class="navigation" id="board" href="/board" style="text-decoration: none">board</a>
    <a class="navigation" id="posts" href="/board/posts" style="text-decoration: none">Post</a>
    <a class="navigation" id="subscription" href="/board/subscription" style="text-decoration: none">Subscription</a>
    <a class="navigation" id="disconnect" href="/account/logout" style="text-decoration: none">Disconnect</a>

</div>
<hr>